.App {
  padding: 40px;
}
.toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.toggle-item {
  border: 2px solid red;
  padding: 15px 30px;
  cursor: pointer;
}
.toggle-item.active {
  background-color: red;
}
.priorities-container {
  display: flex;
  justify-content: space-between;
}
.priorities {
  width: 60%;
}
.priority {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-counts {
  display: flex;
}
.row-count {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border: 3px solid red;
  font-weight: bold;
  cursor: pointer;
}
.ratings-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.ratings {
  display: flex;
}
.active-rating {
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  border-radius: 50%;
  cursor: pointer;
}
.priority-order {
  padding-left: 80px;
}
.priority-order-item {
  margin: 10px 0;
  padding: 15px 30px;
  background: black;
  color: white;
  font-weight: bold;
}
.priority-order-item span{
  margin-right: 10px;
}
